.header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
    padding: 0px 30px;
    background-color: cadetblue;
    margin-bottom: 20px;
}

.header-link{
padding: 0px 10px;
}